<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee           http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>HealthSync</display-name>
    <description>HealthSync - Where Doctors, Patients &amp; Data Sync Together</description>
    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <!-- Session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <!-- Authentication Servlets -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorRegisterServlet</servlet-name>
        <servlet-class>servlet.DoctorRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <servlet-class>servlet.AdminRegisterServlet</servlet-class>
    </servlet>
    <!-- Doctor Servlets -->
    <servlet>
        <servlet-name>DoctorDashboardServlet</servlet-name>
        <servlet-class>servlet.DoctorDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorAppointmentServlet</servlet-name>
        <servlet-class>servlet.DoctorAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorPrescriptionServlet</servlet-name>
        <servlet-class>servlet.DoctorPrescriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorHistoryServlet</servlet-name>
        <servlet-class>servlet.DoctorHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorProfileServlet</servlet-name>
        <servlet-class>servlet.DoctorProfileServlet</servlet-class>
    </servlet>
    <!-- Patient Servlets -->
    <servlet>
        <servlet-name>PatientDashboardServlet</servlet-name>
        <servlet-class>servlet.PatientDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientAppointmentServlet</servlet-name>
        <servlet-class>servlet.PatientAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientPrescriptionServlet</servlet-name>
        <servlet-class>servlet.PatientPrescriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientHistoryServlet</servlet-name>
        <servlet-class>servlet.PatientHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientProfileServlet</servlet-name>
        <servlet-class>servlet.PatientProfileServlet</servlet-class>
    </servlet>
    <!-- Admin Servlets -->
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>servlet.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPatientServlet</servlet-name>
        <servlet-class>servlet.AdminPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDoctorServlet</servlet-name>
        <servlet-class>servlet.AdminDoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAppointmentServlet</servlet-name>
        <servlet-class>servlet.AdminAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfileServlet</servlet-name>
        <servlet-class>servlet.AdminProfileServlet</servlet-class>
    </servlet>
    <!-- Authentication Mappings -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorRegisterServlet</servlet-name>
        <url-pattern>/doctor-register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <url-pattern>/admin-register</url-pattern>
    </servlet-mapping>
    <!-- Doctor Mappings -->
    <servlet-mapping>
        <servlet-name>DoctorDashboardServlet</servlet-name>
        <url-pattern>/doctor/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorAppointmentServlet</servlet-name>
        <url-pattern>/doctor/appointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorPrescriptionServlet</servlet-name>
        <url-pattern>/doctor/prescriptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorHistoryServlet</servlet-name>
        <url-pattern>/doctor/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorProfileServlet</servlet-name>
        <url-pattern>/doctor/profile</url-pattern>
    </servlet-mapping>
    <!-- Patient Mappings -->
    <servlet-mapping>
        <servlet-name>PatientDashboardServlet</servlet-name>
        <url-pattern>/patient/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientAppointmentServlet</servlet-name>
        <url-pattern>/patient/appointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientPrescriptionServlet</servlet-name>
        <url-pattern>/patient/prescriptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientHistoryServlet</servlet-name>
        <url-pattern>/patient/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientProfileServlet</servlet-name>
        <url-pattern>/patient/profile</url-pattern>
    </servlet-mapping>
    <!-- Admin Mappings -->
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPatientServlet</servlet-name>
        <url-pattern>/admin/patients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDoctorServlet</servlet-name>
        <url-pattern>/admin/doctors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAppointmentServlet</servlet-name>
        <url-pattern>/admin/appointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfileServlet</servlet-name>
        <url-pattern>/admin/profile</url-pattern>
    </servlet-mapping>
    <!-- Security Constraints -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Doctor Area</web-resource-name>
            <url-pattern>/doctor/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Patient Area</web-resource-name>
            <url-pattern>/patient/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin Area</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <!-- Character Encoding Filter -->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
